<br/>
<fieldset>
  <legend>Generate Spending</legend>
  <%= form_with model: @spending, url: spendings_path do |f| %>
    <div class="field">
      <b><%= f.label :amount %><br /></b>
      <%= f.number_field :amount, step: :any %>
    </div>

    <div class="field">
        <%= f.check_box :foreign_spending %>
        <%= f.label :foreign_spending %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</fieldset>

<p> Total Rewards earned: <b><%= current_user.total_rewards_earned %></b></p>
